/* import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@600&family=Caveat:wght@400;500&display=swap');

/* reset da estilização padrão */
* {
    margin: 0;
    padding: 0;
    font-family: 'Belanosima', sans-serif;
    color: #E5D5D5;
}

body {    
    display: flex;
}


/* estilização dos fundos de cada tela */
#inicial {
    background-image: url(../assets/fundo_inicial.png);    
    background-repeat: no-repeat;
    background-size: cover;
}

#app {
    background-image: url(../assets/fundo_time.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#duelo {
    background-image: url(../assets/fundo_batalha.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#vitoria {
    background-image: url(../assets/fundo_vitoria.png);
    background-repeat: no-repeat;
    background-size: cover;
}

#derrota {
    background-image: url(../assets/fundo_derrota.png);
    background-repeat: no-repeat;
    background-size: cover;
}

/* estilização dos botões */
button {
    background-color: #4DC34B;
    text-decoration: none;
    border-radius: 25px;
    border: 0px;
    padding: 10px;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.7);    
    font-size: 25px;    
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    cursor: pointer;              
}

button:hover {
    font-size: 27px;
    padding: 12px;
}

#play-game {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

#confirmar{
    position: fixed;
    bottom: 50px;
    right: 25%;
    transform: translateX(50%);
}

.selecionar {
    position: relative;
    font-size: 16px;
    box-shadow: none;    
    margin: 0;
    padding: 4px;
    left: 95px; 
    margin-bottom: 5px; 
    color: #3a3d3a;  
}

.selecionar:hover{
    cursor: pointer;
    font-size: 16px;
    padding: 4px;
    background-color: #000;
    color: #E5D5D5;
}

.carta_texto .excluir{
    position: relative;
    font-size: 16px;
    box-shadow: none;    
    margin: 0;
    margin-bottom: 5px;
    padding: 4px;
    left: 95px;
    background-color: red;
    color: white;
}

.carta_texto .excluir:hover{
    cursor: pointer;
    font-size: 16px;
    padding: 4px;    
}

#batalhar {
    position: fixed;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
}

/* estilização do time pokemon */
#time_pokemon{
    width: 43%;
    height: 500px;  
    overflow-y: scroll; 
    border-radius: 20px 0px 0px 20px;   
    border: 2px solid #000;
    background: rgba(2, 32, 9, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 25px;
}

/* estilização da lista dos pokemons */
#lista_pokemons {   
    width: 50%;
    height: 600px;
    overflow-y: scroll;
    border-radius: 20px 0px 0px 20px;
    border: 2px solid #000;
    background: rgba(2, 32, 9, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 25px;   
}

.carta {    
    position: relative;   
    display: inline-block;
    background-color: #3a3d3a;
    border: 1px solid gray;  
    border-radius: 5px;          
    width: 140px;
    height: 300px;
    margin: 10px;
    margin-left: 12px;       
}

.carta.selecionada{
    opacity: 0.5;
    pointer-events: none;
}

.carta_imagem img { 
    position:absolute;
    text-align: center;
    background: rgb(143,6,161);
    background: linear-gradient(90deg, rgba(143,6,161,1) 0%, rgba(22,7,152,1) 100%);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.5);
    border-radius: 5px; 
    margin-bottom: 10px;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);    
    width: 100px;
    height: 110px;            
}

.carta_texto{
    position: relative;
    top: 60%;    
    background: rgb(143,6,161);
    background: linear-gradient(90deg, rgba(143,6,161,1) 0%, rgba(22,7,152,1) 100%);
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.5); 
    border-radius: 5px;    
    margin: 8px;
    margin-top: 2px;
    padding-left: 5px;
}

.carta_texto h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;    
    font-size: 16px; 
}

.carta_texto .numero {
    text-align: right;
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 14px; 
    
}

.carta_texto p {  
    font-family: Arial, Helvetica, sans-serif;  
    font-size: 14px;    
}

/* estilização da pagina de duelo*/

#jogador_time {  
    display: inline;  
    width: 25%;
    height: 500px;
    overflow-y: scroll;
    border-radius: 20px 0px 0px 20px;
    border: 2px solid #000;
    background: rgba(2, 32, 9, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 25px;
}

#placar_jogador {    
    text-align: left;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
    position: fixed;
    bottom: 40px;
    left: 2%;
}

#time_maquina {        
    width: 25%;
    height: 500px;
    overflow-y: scroll;
    border-radius: 20px 0px 0px 20px;
    border: 2px solid #000;
    background: rgba(2, 32, 9, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 25px;
}

#placar_maquina {
    text-align: right;
    border: 2px solid white;
    border-radius: 10px;
    padding: 2px;
    position: fixed;
    bottom: 40px;
    right: 2%;
}

.pontos img{
    display: inline;
    width: 30px;
    height: 30px;
}

#areaDuelo {   
    display: inline; 
    width: 40%;
    height: 500px;    
    border-radius: 20px;
    border: 2px solid #000;
    background: rgba(2, 32, 9, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 30px;
    margin-left: 25px;
}
